package layouts

templ CorePage(title string) {
	@Base() {
		@Head(title)
		@Body() {
			@Sidebar()
			@PageContainer() {
				<div>
					<form id="form-content">
						{ children... }
					</form>
				</div>
			}
		}
	}
}
