package layouts

templ CorePage(title, description string) {
	@Base() {
		@Head(title)
		@Body() {
			@Sidebar()
			@PageContainer() {
				<h6 class="c-grey-900">{ description }</h6>
				<div class="mT-30">
					<form id="form-content">
						{ children... }
					</form>
				</div>
			}
		}
	}
}
