package transactions

import lyts "crypto-braza-tokens-admin/web/layouts"

templ HistoryPage() {
	@lyts.CorePage("Transactions History") {
		<div class="bgc-white p-20 bd">
			<h6 class="c-grey-900 mB-20">Transactions History</h6>
			<div class="bgc-grey-500 c-white p-20" style="text-align:center">
				<h5>Working in Progress...</h5>
			</div>
			<div id="container-variables-table"></div>
		</div>
	}
}
