package settings

import (
	cpt "crypto-braza-tokens-admin/web/components"
	lyts "crypto-braza-tokens-admin/web/layouts"
)

templ KvsPage(options map[string]string, htmx templ.Attributes) {
	@lyts.CorePage("Parametrização", "Parametrização da Aplicação") {
		<div class="bgc-white p-20 bd">
			@cpt.SelectList("namespace-selector", "Aplicação", "0", "Selecione a aplicação", options, htmx)
			<div id="container-variables-table"></div>
		</div>
	}
}
