package settings

import (
	cpt "crypto-braza-tokens-admin/web/components"
	lyts "crypto-braza-tokens-admin/web/layouts"
)

templ KvsPage(options map[string]string, htmx templ.Attributes) {
	@lyts.CorePage("Parameterization") {
		<div class="bgc-white p-20 bd">
			<h6 class="c-grey-900 mB-20">Application Parameterization</h6>
			@cpt.SelectList("namespace-selector", "Application", "0", "Select an application", options, htmx)
			<div id="container-variables-table"></div>
		</div>
	}
}
